body{
    margin-top: 1rem;
    .pokedex{
        form{
            display: flex;
            justify-content: center;
        }
        .searchResult{
            .pokeInfo{
                border-bottom: 2px solid black;
                margin-bottom: 0.5rem;
            }
        }
    }
}