body{
    .pokedex{
        
        background-color: rgb(182, 0, 0);
        font-family: 'Press Start 2P', cursive;
        min-height: calc(100vh - 2rem);
        padding-top: 2rem;
        h1{
            color: rgba(0, 0, 0, 0.4);
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }
        .pokedexCommandsSez{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 5px solid rgba(0, 0, 0, 0.4);
            margin-bottom: 1rem;
            form{
                display: flex;
                justify-content: center;
                input{
                    background-color: olive;
                    font-family: 'Press Start 2P', cursive;
                    border: 10px solid rgb(199, 199, 199);
                    border-right: 5px solid rgb(199, 199, 199);
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    width: 11rem;
                    margin: 0 5px 1.5rem 0;
                    &:focus{
                        outline: none;
                    }
                }
                .searchBtn{
                    background-color: rgb(199, 199, 199);
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.5);
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                    border: none;
                    margin-bottom: 1.5rem;
                }
            }
            .pokedexSoundBtns{
                display: flex;
                button{
                    background-color: rgb(199, 199, 199);
                    border: none;
                    border-radius: 15px;
                    width: 2.5rem;
                    height: 0.5rem;
                }
                .underNameBtn{
                    font-family: monospace;
                    font-weight: bold;
                    font-size: 0.7rem;
                    margin-top: 0.2rem;
                }
                .muteMusic{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 1rem 1rem 0;
                }
                .muteEffect{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 1rem 1rem 0;
                }
            }
        }
        .searchResult{
            margin: 0 5rem;
            .pokeInfo{
                background-color: olive;
                border: 10px solid rgb(199, 199, 199);
                border-radius: 2px;
                padding: 1rem;
                margin-bottom: 0.5rem;
                .pkNumber{
                    margin-bottom: 0.5rem;
                }
                .pkName{
                    margin-bottom: 0.5rem;
                }
                .pkType{
                    margin-bottom: 0.5rem;
                }

                .pkLocationArea{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0.5rem;
                    p{
                        margin-bottom: 0.5rem;
                    }
                    .readMoreBtn{
                        align-self: center;
                        font-family: 'Press Start 2P', cursive;
                        font-size: 0.5rem;
                        color: olive;
                        background-color: black;
                        border-radius: 2px;
                        border: none;
                        &:hover{
                            background-color: rgb(255, 255, 255);
                        }
                    }
                }
                .pkEvolveFrom{
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}