body{
    .pokedex{

        background-color: rgb(182, 0, 0);
        // font-family: 'Press Start 2P', cursive;
        font-family: 'Poppins', sans-serif;
        min-height: calc(100vh - 2rem - 0.5rem);
        padding: 2rem 0 0.5rem 0;
        h1{
            color: rgba(0, 0, 0, 0.4);
            text-align: center;
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
        .pokedexCommandsSez{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 5px solid rgba(0, 0, 0, 0.4);
            margin-bottom: 1rem;
            form{
                display: flex;
                justify-content: center;
                input{
                    background-color: olive;
                    // font-family: 'Press Start 2P', cursive;
                    font-family: 'Poppins', sans-serif;
                    border: 10px solid rgb(199, 199, 199);
                    border-right: 5px solid rgb(199, 199, 199);
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    width: 11rem;
                    margin: 0 5px 1.5rem 0;
                    &:focus{
                        outline: none;
                    }
                    &::placeholder{
                        color: rgb(92, 92, 1);
                        font-size: 0.7rem;
                    }
                }
                .searchBtn{
                    background-color: rgb(199, 199, 199);
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.5);
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                    border: none;
                    margin-bottom: 1.5rem;
                }
            }
            .pokedexSoundBtns{
                display: flex;
                button{
                    background-color: rgb(199, 199, 199);
                    border: none;
                    border-radius: 15px;
                    width: 2.5rem;
                    height: 0.5rem;
                }
                .underNameBtn{
                    font-family: monospace;
                    font-weight: bold;
                    font-size: 0.7rem;
                    margin-top: 0.2rem;
                }
                .muteMusic{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 1rem 1rem 0;
                }
                .muteEffect{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 1rem 1rem 0;
                }
            }
        }
        .searchResult{
            margin: 0 1rem;
            .pokeInfo{
                background-color: olive;
                border: 10px solid rgb(199, 199, 199);
                border-radius: 2px;
                box-shadow: 0.1rem 0.1rem 0.5rem;
                position: relative;
                padding: 1rem;
                margin-bottom: 0.5rem;
                .field{
                    font-weight: bold;
                    margin-right: 0.8rem;
                }
                .delBtn{
                    border: none;
                    border-radius: 2px;
                    color: rgba(0, 0, 0, 0.5);
                    background-color: rgb(199, 199, 199);
                    font-weight: bold;
                    font-size: 1rem;
                    position: absolute;
                    top: -0.5rem;
                    right: -0.5rem;
                    padding: 10px 14px;
                }
                .pkImgs{
                    display: flex;
                    justify-content: center;
                    .pkFrontImg{
                        border: 1px solid rgb(0, 0, 0);
                        border-radius: 2px;
                        box-shadow: 0rem 0rem 0.5rem;
                        background-color: rgba(255, 255, 255, 0.5);
                        width: 10rem;
                        margin-bottom: 1rem;
                    }
                }
                .pkNumber{
                    display: flex;
                    margin-bottom: 1rem;
                }
                .pkName{
                    display: flex;
                    margin-bottom: 1rem;
                }
                .pkType{
                    display: flex;
                    margin-bottom: 1rem;
                }

                .pkLocationArea{
                    display: flex;
                    margin-bottom: 1rem;
                    .gameVersionsList{
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: 0.8rem;
                        .version{
                            text-decoration: underline;
                            margin: 0 1rem 0.2rem 0;
                        }
                        .location{
                            margin-bottom: 0.2rem;
                        }
                    }

                }
                .pkEvolveFrom{
                    display: flex;
                    margin-bottom: 0.8rem;
                }
                .pkAbilities{
                    display: flex;
                    .currAbilitiesList{
                        display: flex;
                        flex-wrap: wrap;
                        .currAbility{
                            margin-right: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}